<h1>Iniciar Sesion</h1>
<div>
    <form action="/sessions/login" method="post" >
    <input type="email" name="email" placeholder="ingrese su email">
    <input type="password" name="password" placeholder="ingrese su password">
    <input type="submit" value="Iniciar Sesion">
</form>
</div>
