<h2>Inicie sesion con su usuario</h2>
<div>
    <form action="/session/login" method="post" >
    <input type="email" name="email" placeholder="ingrese su email">
    <input type="password" name="password" placeholder="ingrese su password">
    <input type="submit" value="Iniciar Sesion">
    <br><br>
    <h2>o con su red preferida</h2>
    <ul>
        <li><a href="/session/login-github">Github</a></li>
        <li><a href="/session/login-google">Google</a></li>
    </ul>
</form>
</div>
