<h1>Registrar Usuario</h1>
<div>
    <form action="/session/create" method="post" >
        <input type="text" name="first_name" placeholder="ingrese su nombre">
        <input type="text" name="last_name" placeholder="ingrese su apellido"><br><br>
        <input type="number" name="age" placeholder="ingrese su edad">
        <input type="email" name="email" placeholder="ingrese un email"><br><br>
        <input type="password" name="password" placeholder="ingrese una password">
        <input type="text" name="rol" placeholder="ingrese rol"><br><br>
        <input type="submit" value="Crear">
    </form>
</div>
